<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >

<mapper namespace="com.example.mybatisdemo.DemoMapper">

    <select id="get">
        SELECT *
        FROM demo
    </select>

    <select id="wrongSelect">
        SSSSELECT * from demo
    </select>

    <insert id="insert">
        INSERT INTO DEMO
        VALUES (#{id}, #{name}, #{quantity})
    </insert>
</mapper>
